@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gerstner-Programm';
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/GerstnerProgWeb-Regular.woff'),
    url('../public/fonts/GerstnerProgWeb-Regular.woff2');
}
